// MDA refresh

var refresh_time_mda = 5000

socket.on('watch_currpos', function(msg){
      $('#curr_pos_param').text( msg )
 } )

socket.on('close_cam', function(msg){                            //
     $('#curr_pos_param').text(0)                                // watch the pos 0
     live_stream = false
     $('#curr_cam_pic').attr('src', 'http://' + ip_addr + ':2204/quit_live')          // stop livecam
     setTimeout(function(){
         socket.emit( 'make_mda', '' )
         setInterval(function(){
             curr_pos = $('#curr_pos_param').text()
             $('#curr_cam_pic').attr('src', '/static/curr_pic/frame'+ curr_pos + '.png' + '?t='  + new Date().getTime() )    // current pic by position
           }, refresh_time_mda)
     }, 5000)                // launch the mda

  })
