// Live settings..

// send magnification

socket.on('curr_objective', function(magnif){

  //alert('magnif is ' + magnif)
  $.post('http://' + ip_addr + ':2204/magnif', {'magnif': magnif})

})

// send exposure time for snap

socket.on('send_exp_time', function(time){

  //alert('time is ' + time)
  $.post('http://' + ip_addr + ':2204/exp_time', {'exp_time': time})

})

// send autocontrast BF value

socket.on('current_contrast', function(autocntrst){

  //alert('autocntrst is ' + autocntrst)
  $.post('http://' + ip_addr + ':2204/autocontrast', {'val': autocntrst})

})

// send scale bar value

socket.on('set_scale_bar', function(scale){

  //alert('scale is ' + scale)
  $.post('http://' + ip_addr + ':2204/scale_bar', {'val': scale})

})
