<!-- save interesting z -->

<div id="save_return_z" hidden >

      <span> <button class="btn btn" id="savez" >
                <img src="static/icons/capicon/svg/226.svg" class="icon_settings" >
              </button> </span>

      <!-- return to interesting z -->

      <span> <button class="btn btn" id="return_to_z" >
                <img src="static/icons/capicon/svg/012.svg" class="icon_settings">
               </button> </span>

</div>

<!-- saved z position -->

<div id="savez_value" > no z saved </div>

<script >

  $('#savez_value').hide()

</script>
