<!-- Snap panel -->

<div id='snap_panel' class="btn btn-warning" >

   <img id='snap_panel_close'  src="static/icons/capicon/svg/057.svg">  </img>

   <img id="curr_snap_pic" width="88%" style="line-height : 20px;" ></img>

   <div class="">
      <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.7"/>
   </div>

</div>

<script >

    $('#snap_panel').hide()
    //$('#snap_panel').draggable()

    $('#ex1').bootstrapSlider({                            // slider for opacity
      	formatter: function(value) {
             $('#snap_panel').css( { 'opacity':value } )
             $('#slider_value').text(value)
          		return 'Current value: ' + value;
          	}
      });

    $('#snap_panel_close').click(function(){
         $('#snap_panel').hide()                           // close snap_panel
    })

</script>
