<h5> Sweep chip </h5>

<!-- delta x -->

<div class="">
  <label > sweep x : </label>
  <input   id="sweepx"  >
  <span> µm </span>
</div>

<!-- delta y -->

<div class="">
  <label > sweep y : </label>
  <input   id="sweepy"  >
  <span> µm </span>
</div>

<button  class="btn btn"  id="sweep_dir_btn" >
    <img  src='static/icons/capicon/svg/276.svg' id='sweep_dir'>
</button>

<button  class="btn btn"  id="sweep_chip_btn" > sweep </button>

<button  class="btn btn"  id="map_sweep_button" >
     <img  src='static/icons/misc_icons/map.svg' id='map_sweep'>
</button>

<span id='sweep_done'>  </span>
<span id='sweep_tlast'>  </span>
