
<h5> general params </h5>

<div class="checkbox col-xs-12" style="margin-left: 10px">
 <span> save_proc </span>
   <h5  style="margin: 0; padding 0;  height:13px">
     <input class="check" id="save_proc" style="line-height: 10%; top:-2px"  type="checkbox" >
   </h5>
</div>

<div class="checkbox col-xs-12" style="margin-left: 10px">
 <span> save_orig </span>
   <h5  style="margin: 0; padding 0;  height:13px">
     <input class="check" id="save_orig" style="line-height: 10%; top:-2px"  type="checkbox" >
   </h5>
</div>
