/*

Toggle panels from setting menu

*/

$('#butt_mda_monitorings_params').click(function(){                                // mda monitorings params
    $('#mda_far_monitorings_panel').toggle()
})

$('#butt_infos_experim').click(function(){                                         // experiment infos
    $('.experim_infos_panel').toggle()
})

$('#butt_mda_set').click(function(){                                               // toggle mda panel, choice of mda experiment
    $('#mda_panel').toggle()
})

control_panel_visible = 0
$('#butt_control').click(function(){                                               // toggle control panel for controlling quality of ML


        if ( control_panel_visible == 0 ){
           $('#control_panel').fadeIn()
           control_panel_visible = 1
        }
        else{
           $('#control_panel').fadeOut()
           control_panel_visible = 0
        }

})

set_chan_visible = 0
$('#butt_panel_chan_set').click(function(){      // toggle setting channels panel

        if ( set_chan_visible == 0 ){
           $('.setting_chan_panel').fadeIn()
           set_chan_visible = 1
        }
        else{
           $('.setting_chan_panel').fadeOut()
           set_chan_visible = 0
        }
})

$('#butt_xy').click(function(){                  // toggle xy panel
    $('.xy_panel').toggle()
})

set_panel_visible = 0
$('#butt_set').click( function(){

        if ( set_panel_visible == 0 ){
           $('.set_panel').fadeIn()
           set_panel_visible = 1
        }
        else{
           $('.set_panel').fadeOut()
           set_panel_visible = 0
        }
})

infos_panel_visible = 0
$('#butt_infos_hs').click(function(){            // toggle infos panel

        if ( infos_panel_visible == 0 ){
           $('.hard_soft_infos_panel').fadeIn()
           infos_panel_visible = 1
        }
        else{
           $('.hard_soft_infos_panel').fadeOut()
           infos_panel_visible = 0
        }

})

$('#select_model').on('change', function() {     // select the model
    curr_model = $(this).val()
});
