<!--  lateral bar -->

<div class="lateral_bar">

      <!-- mda tree -->

      <div class="icon_mda_tree" hidden > <img id="butt_mda_tree" class="icon_settings" src="static/icons/capicon/svg/205.svg"  > </div>

      <!-- Monitoring,  predictions -->

      <div class="icon_control" > <img id="butt_control" class="icon_settings" src="static/icons/misc_icons/NN_black.svg"  > </div>
      <!-- capicon/svg/313.svg -->

     <!-- setting channels panel-->

     <div class="icon_chan_set" > <img id="butt_panel_chan_set" class="icon_settings" src="static/icons/capicon/svg/268.svg"  > </div>

     <!-- xy positions panel-->

     <div class="icon_xy" > <img id="butt_xy" class="icon_settings" src="static/icons/capicon/svg/044.svg" hidden > </div>

     <!-- panel set -->

    <div class="icon_set" > <img id="butt_set" class="icon_settings" src="static/icons/capicon/svg/272.svg"  > </div>

    <!-- panel infos -->

    <div class="icon_infos_hs" > <img id="butt_infos_hs" class="icon_settings" src="static/icons/capicon/svg/007.svg"  > </div>

 </div>
