<div class="set_panel" hidden>

    <h3 align="center"> Settings </h3>
    <br>

    <br>
    <hr>

    <!-- Chose the objective for the experiment -->

    {% include 'image/objective.html' %}

    <!-- <hr>

    { include 'image/reset_offset.html' } -->

    <hr>

    <!-- Permit to have the hand on the µscope z position -->

    {% include 'image/give_access_back.html' %}

    <hr>

    <!-- Make a sweep of the chip -->

    {% include 'image/sweep_chip.html' %}

    <hr>

    <!-- Camera autocontrast -->

    {% include 'image/camera_autocontrast_BF.html' %}

    <hr>

    <!-- bpp -->

    {% include 'image/camera_bpp.html' %}

    <hr>

    <!-- Scale bar -->

    {% include 'image/scale_bar.html' %}

    <hr>



</div>

<!--  end class set_panel -->
