

<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">

            <div style= "background-color:#99ccff;";  class="footer" >
                <div class="container">
                    <div class="row" style="height: 60px;
                                            text-align:center;">
                            <br>
                              <p style="font-size: 15px" class="copyright text-muted">{{footer.copyright}}</p>
                              <br>
                              <br>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

        </div>
    </nav>
</div>
