<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">

    <title> Cyber Dashboard </title>

    <link rel="shortcut icon"  type="image/ico"  href="static/icons/dashboard.png">

    <!-- .js -->

    <script src="{{ url_for('static', filename='js/socket.io-3-0-4.js') }}"></script>

    <!-- .css -->

    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <link rel="stylesheet" href="/static/css/bootstrap_3-3-7.css">
    <link rel="stylesheet" href="/static/css/bootstrap-select_1-6-3.css">

    <script src="{{ url_for('static', filename='js/jquery_2-2-4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min-1.11.4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap_3-3-7.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-select_1-6-3.js') }}"></script>

    <link rel="stylesheet" href="/static/css/page_proc.css">
    <link rel="stylesheet" href="/static/css/devices.css">
    <link rel="stylesheet" href="/static/css/user.css">
    <link rel="stylesheet" href="/static/css/alert_connexion.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/dash_visu.css">
    <link rel="stylesheet" href="/static/css/dash_sensors.css">

    <!-- <script src="/static/js/bootstrap-slider.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-slider.min.css"> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" rel="stylesheet"/>

    <script src="/static/js/drawerJs.standalone.js"></script>
    <script src="/static/js/drawerLocalization.js"></script>
    <script src="/static/js/drawerJsConfig.js"></script>

    <link rel="stylesheet" href="/static/fonts/font-awesome/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/drawerJs.min.css" />

    <!-- Calendar -->

    <script src="/static/js/moment.min.js"></script>
    <link rel="stylesheet" href="/static/css/cal.css" />

    <script src="/static/js/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="/static/css/daterangepicker.css" />

    <style>

        #canvas-editor {
            margin-top: 0px;
            margin-left: 0px;
        }

        /* Modify the navbar background color */

        .navbar-custom {
          background-color: #99ccff;
          }

    </style>



</head>
