<table id="tree" class="sampletree fancytree-connectors fancytree-container fancytree-ext-table fancytree-ext-edit fancytree-ext-dnd5 fancytree-ext-gridnav fancytree-ext-multi fancytree-treefocus" style="width:100%" tabindex="-1" role="treegrid" aria-multiselectable="true" aria-readonly="true" aria-activedescendant="ui-id-9">
    <colgroup>
        <col width="40%"> <!--FUNCTION-->
        <col width="5%"> <!--Cle a molette-->
        <col width="5%"> <!--BTN CUSTOM-->
        <col width="5%"> <!--BTN CUSTOM-->
        <col width="45%"> <!--Description-->
    </colgroup>
    <thead>
        <tr> <th></th> <th></th> <th></th> <th></th> <th>Info</th> </tr>
    </thead>
    <tbody>
      <tr role="row" aria-selected="false" class="fancytree-active fancytree-expanded fancytree-lastsib fancytree-exp-nl fancytree-ico-e" id="ui-id-9">
          <td class="alignCenter" role="gridcell"><span class="fancytree-node" draggable="true" style="padding-left: 0px;"><span class="fancytree-expander"></span><img src="/static/icons/tree/icons/protocol.png" class="fancytree-icon" alt=""><span class="fancytree-title" title="Protocole" tabindex="0">protocol</span></span></td>
          <td class="alignCenter" role="gridcell"><button onclick="editTree();"><img src="/static/icons/tree/icons/wrench.png"></button></td>
          <td class="alignCenter" role="gridcell"></td>
          <td class="alignCenter" role="gridcell"></td>
          <td role="gridcell"></td>
        </tr>
    </tbody>
</table>
