<div class="hard_soft_infos_panel" hidden>

<!-- Devices connexion -->

<h5> Connexions :</h5>

<div id='prior' > Prior </div>
<div id='olympus' > Olympus </div>
<div id='coolled' > Coolled </div>
<div id='xcite' > XCite </div>
<div id='gate' > Gates </div>
<div id='sensors' > Sensors </div>

<!-- Machine learning parameters -->

<h5> ML :</h5>

<div style="padding-left:30px;">
    <div> GPU :  <span id='GPU'> </span> </div>
    <div> gpu_mem :  <span id='gpu_mem'> </span> </div>
    <div> tf version :  <span id='tf_version'> </span> </div>
</div>

</div>
