
<!-- Machine learning, Monitoring images -->

<tr>
    <!-- style="width:200px;display:block" -->

    <!-- BF image -->

    <td >
        <h5 class='tit_cntrl_ML'> BF </h5>
        <img class='cntrl_ML' id="BF"  style="line-height : 20px;" alt= 'BF'  ></img>
    </td>

    <!-- Predictions -->

    <td >
        <h5 id='model0_pred'  class='tit_cntrl_ML'> Segmentation prediction </h5>
        <img class='cntrl_ML' id="pred"  style="line-height : 20px;" alt= 'pred BF' ></img>
    </td>

    <!-- Select the model -->

    <td style="padding-left : 40px;" hidden>
        {% include 'segm_track/settings_model.html' %}
    <td >

</tr>
