<!-- Cell number -->

<h5> Cells number </h5>

<div class="checkbox col-xs-12" style="margin-left: 10px">
  <span> show cells number </span>
    <h5 class="check" style="margin: 0; padding 0;  height:13px">
      <input class="check" id="cells_nb" style="line-height: 10%; top:-2px" name = '' type="checkbox" checked >
    </h5>
</div>

<hr>

<h5> Detection </h5>

<div class="checkbox col-xs-12" style="margin-left: 10px">
  <span> superimpose segmentation </span>
    <h5 class="check" style="margin: 0; padding 0;  height:13px">
      <input class="check" id="superp_segm" style="line-height: 10%; top:-2px" name = '' type="checkbox" >
    </h5>
</div>

<div class="checkbox col-xs-12" style="margin-left: 10px">
  <span> tracking </span>
    <h5 class="check" style="margin: 0; padding 0;  height:13px">
      <input class="check" id="tracking" style="line-height: 10%; top:-2px" name = '' type="checkbox" >
    </h5>
</div>

<div class="checkbox col-xs-12" style="margin-left: 10px">
  <span> events </span>
    <h5 class="check" style="margin: 0; padding 0;  height:13px">
      <input class="check" id="events" style="line-height: 10%; top:-2px" name = '' type="checkbox" >
    </h5>
</div>
