<div class="xy_panel" hidden>

    <h3 align="center"> Positions </h3>
    <br><br>
    <ul id='list_save_pos'></ul>

    <div class="pos_params" >

        <div > position <span id="curr_pos_param"></span>  </div>

        <label > num gate : </label>
        <input type="number" class="input_gate"  id="gate_numb"  >

        <button class="btn btn" class="butt_param_pos" id="set_pos_params" > set gate </button>

    </div>

    <div class="checkbox col-xs-12 modif_pos" style="margin-left: 10px">
      <span> modif position </span>
        <h5 class="check" style="margin: 0; padding 0;  height:13px">
          <input class="check" id="modif_pos" style="line-height: 10%; top:-2px" name = '' type="checkbox" >
        </h5>
    </div>

    <button class="btn btn pos_reload"  id="reload_pos" > reload the positions </button>


</div>
