<div class="pzsscm inj">

  <!-- <div> <span>near limit :</span> <input class='inp' id=zsscm_near_limit > </div>
  <div> <span>far limit : </span>  <input class='inp' id=zsscm_far_limit > </div>
  <div> <span>step : </span> <input class='inp' id=zsscm_step > </div> -->
  <div> <span>SC name : </span>  <input class='inp' id=zsscm_setting_channel_name > </div>
  <div> <span>exposure time : </span>  <input class='inp' id=zsscm_exposure_time > </div>
  <!-- <div> <span>keep shutter on : </span>  <input class='inp' id=zsscm_shut > </div> -->

</div>
