<div class="autofocus inj">

  <!-- select AF -->

  <div id="AF_choice" >
      <select id="select_AF"  class="inp selectpicker" style="width:90px;" >

        <option value="afml_sweep"> AFML_full_sweep </option>
        <!-- <option value="afml_dich"> AFML_dichotomy </option> -->
        <option value="zdc"> ZDC </option>

      </select>
  </div>

  <br>

  <!-- model choice for AFML -->

  <div id="AF_model_choice" >
      <select id="select_AF_model"  class="inp selectpicker" style="width:90px;" >

      </select>
  </div>

  <br>

  <div> <span> objective : </span> <input class='inp' id=objectif > </div>
  <div> <span> offset : </span> <input class='inp' id=zoffset > </div>

  <!-- params AFML -->

  <div> <span> nb_steps : </span> <input class='inp' id=nb_steps_afml value=7 > </div>
  <div> <span> step(µm) : </span> <input class='inp' id=step_afml value=1 > </div>
  <div> <span> threshold : </span> <input class='inp' id=thresh value=127 > </div>

</div>
