<!-- Simple Picture + Setting Channels + Mosaic -->

<div class="pspscm inj">

  <!-- select SC -->

  <div id="select_SC_tree" >
    <span>SC : </span>
    <select id="spscm_setting_channel_name"  class="inp selectpicker select_SC"  >
    </select>
  </div>

  <br>

  <!-- exposure time -->

  <div> <span>exposure time : </span>  <input class='inp' id=spscm_exposure_time > </div>

  <br>
  <br>

  <!-- select image DMD -->

  <div id="select_mask_tree"  >
    <span>mask : </span>
    <select id="spscm_mosaic_mask_name"  class="inp selectpicker select_mask"  >
    </select>
  </div>
  <!-- <div> <span>keep shutter on : </span>  <input class='inp' id=spscm_shut > </div> -->

  <br>
  
  <!-- exposure time -->

  <div> <span>mask exposure time(sec) : </span>  <input class='inp' id=spscm_mask_exposure_time > </div>

</div>
