<!-- Monitorings params -->

<!-- icon monitoring params (enveloppe) -->

<div class="icon_mda_monitorings_params" hidden>
   <img id="butt_mda_monitorings_params" style="padding-right: 5px;" class="icon_settings" src="static/icons/capicon/svg/019.svg" >
    <span> monitorings params </span>
 </div>

 <!-- Panel monitoring -->

<div id="mda_far_monitorings_panel" hidden>

        <div id="mda_far_monitorings_panel_close"> </div>

        <h4 align="center"> monitoring parameters </h4>

        <br>
        <hr>
        <br>

        <!-- Different kinds of monitorings, mail, Teams etc.. -->

        <!-- Using mail -->

        <div class="checkbox col-xs-12" style="margin-left: 10px">
          <span> use mail </span>
            <h5 class="check" style="margin: 0; padding 0;  height:13px">
              <input class="check " id="send_mails" style="line-height: 10%; top:-2px" name = '' type="checkbox"  >
            </h5>
        </div>

        <!-- Using Team -->

        <div class="checkbox col-xs-12" style="margin-left: 10px">
          <span> use Teams </span>
            <h5 class="check" style="margin: 0; padding 0;  height:13px">
              <input class="check " id="send_to_teams" style="line-height: 10%; top:-2px" name = '' type="checkbox" >
            </h5>
        </div>

        <!-- Monitoring delay -->

        <div >
          <label > message every : </label>
          <input   id="monitor_delay" style="margin: 0; padding 0;  width:30px"  >
          <span> min </span>
        </div>


</div>
