<!-- Setting channels -->

<!-- one CoolLed line, used for filling all the channels-->

<label > lambda : </label>
<input  class="input_chan_set COOL_lamb"  >
<label > intensity : </label>
<input  class="input_chan_set COOL_intens"  >
<label > shutter : </label>
    <span class="shutter_choice"  >
        <select class="select_shutter"  class="selectpicker" style="width:50px;" >

          <option value="shut_on"> on </option>
          <option value="shut_off" selected > off </option>

        </select>
    </span>
