<!-- Coolled settings -->

<div class="checkbox col-xs-12 " style="margin-left: 10px">
  <span> COOLED: </span>
    <h5 class="check" style="margin: 0; padding 0;  height:13px">
      <input class="check chb_SC" id="set_Coolled" style="line-height: 10%; top:-2px"  type="checkbox" >
    </h5>
</div>

<h6> coolled channel </h6>

    <div id='chanA'> A: {% include 'light/one_cool_channel.html' %}  </div>
    <div id='chanB'> B: {% include 'light/one_cool_channel.html' %}  </div>
    <div id='chanC'> C: {% include 'light/one_cool_channel.html' %}  </div>
    <div id='chanD'> D: {% include 'light/one_cool_channel.html' %}  </div>

<hr>
