<!-- Xcite settings -->

<div class="checkbox col-xs-12 " style="margin-left: 10px">
  <span> Xcite: </span>
    <h5 class="check" style="margin: 0; padding 0;  height:13px">
      <input class="check chb_SC" id="set_Xcite" style="line-height: 10%; top:-2px"  type="checkbox" >
    </h5>
</div>

  <label > intensity : </label>
  <input  class="input_chan_set"  id="Xcite_intens"  >

  <br><br>

<div class="">
  <button  class="btn btn" class="DMD" id="open_draw_DMD" > draw for DMD </button>
</div>

<hr>

<script>

  // Show hide DMD drawing panel

  $('#open_draw_DMD').click(function(){

     $('.draw_DMD_panel').toggle()
     $('#save_select_dmd_pic').toggle()
     $('#pos_prior').toggle()
     $('#dxy').toggle()
     $('.live_fluo').toggle()
     $('#snap').toggle()
     // hide snap dmd
     $('#dmd_snap_panel').hide()

  })

</script>
