<!-- Setting channels -->

<div class="setting_chan_panel" hidden >

    <h3 align="center"> Setting channels </h3>

    {% include 'light/SC_select.html' %}

    <br>

    {% include 'light/SC_BF_params.html' %}

    {% include 'light/SC_Xcite_params.html' %}

    {% include 'light/SC_Coolled_params.html' %}

    {% include 'light/filter.html' %}

    <!-- save -->

    <div align="center">
        <input type="text" id="name_setting_channels"  placeholder="   name setting channels">
        <button  class="btn btn" class="butt_chan_set" id="save_chan_butt" > save </button>
    </div>

</div>
