<!--

Predefined and free mda

 -->

<!-- predefined mda -->

<div class="checkbox col-xs-12" style="margin-left: 10px">

    <span> predefined mda </span>
    <span> <img id="predefined_mda_set" class="icon_settings" src="static/icons/capicon/svg/083.svg"  > </span>
    <span id='predef_mda_name'>  </span>
    <span> <img id="predefined_mda_params" class="icon_settings" src="static/icons/capicon/svg/313.svg"  hidden >  </span>

    <script > $('#predefined_mda_params').hide() </script>

    <!-- predefined params -->

    <div  id="predefined_mda_params_panel" ></div>

    <!-- checkbox predefined -->

    <h5 class="check" style="margin: 0; padding 0;  height:13px">
      <input class="check" id="predefined_mda" style="line-height: 10%; top:-2px" name = '' type="checkbox" >
    </h5>

</div>

<!-- checkbox free mda -->

<div class="checkbox col-xs-12" style="margin-left: 10px">

  <span> free mda </span>
  <span> <img id="free_mda_set" class="icon_settings" src="static/icons/capicon/svg/094.svg"  > </span>
    <h5 class="check" style="margin: 0; padding 0;  height:13px">
      <input class="check" id="free_mda" style="line-height: 10%; top:-2px" name = '' type="checkbox" >
    </h5>

</div>
